<div class="bar-search">


  <mat-form-field>
    <input type="text"  #box matInput placeholder="Search Contacts" (keyup)="filterContacts(box.value);">
    <mat-icon matPrefix>search</mat-icon>
  </mat-form-field>


</div>

<div fxLayout="row">



  <app-contact-list-item *ngFor="let contact of contacts" [contact]="contact" (contactSelect)="onContactSelect(contact)">




  </app-contact-list-item>

  <button mat-fab class="al-fab" (click)="onArrowselect()" color="warn">
    <mat-icon>add</mat-icon>
  </button>



</div>
