<mat-sidenav-container class="app-sidenav-container">
  <mat-sidenav #sidenav [mode]="mode.value" [opened]="false" class="app-sidenav">
    <div>


      <br>
      <br>
      <div>
        <p><b>Contacts Application made on Front-end tools course December 2018.</b></p>

        <br>
      </div>



      <a href="https://github.com/Nanishunter/KL1315-contacts-app" class="app-sidenav-content">Application in github</a>
      <br>
      <br>
<div>
      <a href="https://saimia.fi" class="app-sidenav-content">Saimia university of applied Sciences</a>
    </div>
    </div>
    <div>
      <br>


    </div>
  </mat-sidenav>
  <mat-sidenav-content class="app-sidenav-content">
    <app-toolbar (menuClick)="sidenav.toggle()"></app-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>

